* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

#header {
    font-size: 20px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    
}

.borderbox {
    color: #4971C3;
    background-color: #CBDAF9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    text-align: center;
    font-weight: bold;

    border: 3px solid #ACC1EB;
}

.border-margin {
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 2em;
}

.inline-text {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 25px;
}

.visibility {
    visibility: hidden;
}

.card {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    transition: 0.3s;
    width: 20%;
    display: inline-block;
    padding-bottom: 10px;
    
}

#resizeimage {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30%;
}

.cardtext {
    color:#4971C3;
    font-size: 30px;
}

.btn {
    border: none;
    border-radius: 15px;
    color: white;
    margin-top: 10px;
    padding: 14px 28px;
    cursor: pointer;
    font-size: 20px;
}

.laptop-image{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 20%;
    position: relative;
    right: 25%;

}
#buyLaptopBtn{
    position: relative;
}

.success {background-color: #4CAF50;}
.success:hover{background-color: #46a049;}

.info {background-color: #2196F3;}
.info:hover {background: #0b7dda;}

.warning {background-color: #ffeb0d; color: black;}
.warning:hover {background: #f2dd3a;}

.danger {background-color: #f44336;}
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;}
.default:hover {background: #ddd;}

